.back_bg {
    background-color: #1E2026;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
}
.box1 {
    background-color: #496D8C;
    width: 700px;
    height: 500px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#323640, #4E5463),
    linear-gradient(to right, #2A8C68 0%, #367E7F 50%, #04BF68 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.box2 {
    float: left;
    background-color: #496D8C;
    width: 300px;
    height: 800px;
    margin: 50px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#747D94, #747D94),
    linear-gradient(to right, #04BF68 0%, #73FBFD 50%, #2A8C68 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.box3 {
    background-color: #1E2026;
    width: 700px;
    height: 250px;
    margin-top: 40px;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#323640, #4E5463),
    linear-gradient(to right, #08A65C 0%, #367E7F 50%, #04BF68 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

/* 텍스트 입력창 CSS (메시지 전송 버튼 포함) */
.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

input {
    padding-left: 10px;
    outline: none;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.primary {
    background-color: #2A8C68;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 80px);
    background-color: #1E2026;
    color: #FFFFFF;
    border: 0px;
}

#messageForm .input-group button {
    width: 80px;
    height: 40px;
    transform: translate(194px, -100%);
}

/* 채팅창 body CSS */

#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #747D94;
    margin-top: 30px;
    height: calc(100% - 60px);
    max-height: 600px;
    position: relative;
}

#chat-page ul{
    color: #ffffff;
    list-style-type: none;
    background-color: #747D94;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100%);
}

/* 스크롤 바 디자인 CSS */
ul::-webkit-scrollbar {
    width: 5px;
}
ul::-webkit-scrollbar-track {
    background-color: transparent;
}
ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5E6578;
}
ul::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
#chat-page #messageForm {
    padding: 20px;
}

/* 실시간 채팅 머리 부분 (방 이름 텍스트 밑에 선이 따로 포함되어 있으니 주의하시오.) */

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid;
    border-image:linear-gradient(to right, #2A8C68 0%, #75FA8D 25%, #A1FB8E 50%, #73FBFD 75%, #507F80 100%);
    border-image-slice: 1;
}

.chat-header h2 {
    color: #FFFFFF;
    margin: 0;
    font-weight: 500;
}