
body {
    height: 100vh;
    margin: 0;
}
.mainDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.serverListDiv {
    width: 80px;
    height: 100%;
    background: #23252c;
    min-width: 80px;
    max-width: 80px;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}
.meBtn {
    width: 60px;
    height: 60px;
    background: #2a8c68;
    margin: 10px auto;
    border-radius: 10px;
    border: 0;
}
.makeLine {
    width: 50px;
    height: 2px;
    background: #b0b5c5;
    margin: 0 auto;
    border-radius: 10px;
}

/*서버 div 공용 css*/
.serverList {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}
.selectedEffect {
    width: 5px;
    height: 40px;
    background: white;
    margin: auto -5px auto 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.server {
    width: 60px;
    height: 60px;
    background: #b03939;
    margin: auto;
    border-radius: 30px;
    border: 0;
}








.dmsgListDiv {
    width: 250px;
    height: 100%;
    background: #2d3038;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
}
.startDM {
    width: 200px;
    height: 40px;
    background: #1e2026;
    color: #b1b7bd;
    font-size: 15px;
    border-radius: 5px;
    margin: 20px auto 50px;
}
/*메세지 div 공용*/
.dmsgList {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 10px;
}
.dmsg {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    background: #b03939;
}
.profileDiv {
    position: absolute;
    bottom: 0px;
    width: 250px;
    height: 60px;
    background: white;
}









.friendListDiv {
    width: 100%;
    height: 100%;
    background: #3a3e48;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    color: aliceblue;
}
.friendFilterDiv {
    width: 100%;
    height: 60px;
    background: green;
}
