
body {
    height: 100vh;
    background-image: url("../img/winterBG.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background: radial-gradient(ellipse at bottom, #FFFFFF 0%, #090a0f 100%);
    */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    overflow: hidden;

}
.mainDiv {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 800px;
    height: 500px;
    background-color: #496d8c;
    border: 2px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(#323640, #4e5463),
    linear-gradient(to right, #2a8c68 0%, #04bf68 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    animation: fadeInDown 1.5s;
}
.loginDiv {
    display: flex;
    margin: 0 auto 20px;
}

.inputDiv {
    display: flex;
    flex-direction: column;
}
.inputDiv input {
    width: 300px;
    height: 40px;
    background-color: #1e2026;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
#inputDiv1 {
    margin-bottom: 10px;
}
#loginBtn {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background-color: #2a8c68;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.regiDiv {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;

}
.mainTitle {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin-top: -100px;
    margin-bottom: 50px;
}
#santa {
    align-content: center;
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    right: -70px;
}


/* 키프레임 애니메이션 */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    animation: fall 5s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes fall {
    from {
        transform: translateY(-100vh) rotate(45deg);
    }
    to {
        transform: translateY(100vh) rotate(45deg);
    }
}

/*눈내리기*/
#snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: snowfall linear infinite;
    filter: drop-shadow(0 0 10px white);
}

@keyframes snowfall {
    to {
        transform: translateY(100vh);
    }
}