<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamrocket.summit.repository.DirectMessageRepository">

    <insert id="send">
        INSERT INTO tbl_direct_message
        (user1_account, user2_account)
        VALUES
        (#{user1Account}, #{user2Account})
    </insert>

    <select id="findId" resultType="Integer">
        select dm_id from tbl_direct_message
        where user1_account = #{senderName} and user2_account = #{receiverName}
    </select>

    <delete id="delete">
        DELETE FROM tbl_direct_message
        WHERE dm_id = #{id}
    </delete>

</mapper>